body {
  background-color: #B1C7CD;

}

.container {  
  display: grid;
  gap: 15px 15px;

  grid-template-columns: 5fr 1fr;
  grid-template-rows: 7% 10% auto auto auto;
  grid-template-areas:
    "header header"
    "navigation navigation"
    "main ads"
    "form form"
    "footer footer";
}
@media screen and (max-width: 1500px){
  .container {  
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 7% 10% auto auto;
    grid-template-areas:
     "header header"
    "navigation navigation"
    "main ads"
    "footer footer";
  }
}
@media screen and ((max-width: 1000px) or ((min-device-width: 751px) and (max-device-width: 1000px))) {
  .container {  
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 7% auto 10% auto;
    grid-template-areas:
      "header header"
      "main ads"
      "navigation navigation"
      "footer footer";
  }
}
@media screen and ((max-width: 700px) or (max-device-width: 750px)) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 7% auto 5% 10% auto;
    grid-template-areas:
      "header"
      "main"
      "navigation"
      "ads"
      "footer";
  }
}

.header     { font-size: 24px; grid-area: header; text-align: center; border: 10px double #ffff;
 font-weight: bold; border-radius: 30px; margin-left:10%;margin-right: 10%; }
.somebar { grid-area: somebar; text-align: center; font-weight: bold;border-radius: 5px;}
.main       { grid-area: main; }
.navigation    { grid-area: navigation; border-radius: 5px;}
.ads        { font-size: 18px; text-align: center; grid-area: ads; border-radius: 5px;}
.form       { grid-area: form; }
.footer     { grid-area: footer; }


.header p {height: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-block-start: 0em;
margin-block-end: 0em;}

.container .grid {
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
  background-color: #CDDEE3;

  box-shadow: 1px 1px 10px 0px rgb(46 54 68 / 10%);
}

.container .grid:after {
  content: "";
  position: absolute;
  padding: 16px 14px;
}

.main {
  display: grid;
  font-size: 20px;
  background-color: #242424;
  border: 5px solid rgb(149, 186, 188,0.4);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1.4fr;
  gap: 5px 5px;
  grid-template-areas:
    "block-1 block-1 block-4 block-5"
    "block-2 block-3 block-4 block-6"
    "block-2 block-7 block-7 block-7";
}



.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1";
}



@media screen and (max-width: 1500px) {
  .main {
     grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1.2fr  1fr;
    grid-template-areas:
      "block-1 block-2"
      "block-3 block-4"
      "block-5 block-5";
  }

  .navigation {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
       "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1";
}

}
@media screen and ((max-width: 1000px) or ((min-device-width: 751px) and (max-device-width: 1000px))) {
  .main {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1.2fr 1.2fr  1fr;
    grid-template-areas: 
      "block-1 block-2"
      "block-3 block-4"
      "block-5 block-5";
  }

 .navigation {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1";
}
}
@media screen and  ((max-width: 700px) or (max-device-width: 750px)) {
  .main {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "block-1"
      "block-2"
      "block-3"
      "block-4"
      "block-5";
  }
  .navigation {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1"
        "block-1-1 block-2-1 block-3-1 block-4-1";
}
}

.block-1 { grid-area: block-1; }
.block-2 { grid-area: block-2; }
.block-3 { grid-area: block-3; }
.block-4 { grid-area: block-4; }
.block-5 { grid-area: block-5; }
.block-6 { grid-area: block-6; }
.block-7 { grid-area: block-7; }


.gallery {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1em;
  border-radius: 3px;

  background-color: #343238;
  color: black;
  border: 6px solid rgb(149, 186, 188,0.3);
}

.gallery::after {
  content: '';
  position: absolute;
  background-color: #c2cfd3;
  width: 100%;
  height: 100%;
  bottom: 100%;
  transition: transform 0.7s ease-in-out;
}
.gallery:hover::after {
  transform: translateY(100%);
}

.gallery img {
  width: 50px;
  display: flex;
  filter: drop-shadow(0px 0px 6px rgb(0 0 0 / 0.3));
  z-index: 2;
}

.gallery p {
  text-align: center;
  margin: 1em;
  font-family: system-ui;
  opacity: 0.9;
  z-index: 2;
}

